
window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid #D8DEE9;

  background-color: #2E3440;
}

label {
  font-family: 'Hack Nerd Font';
  font-size: 11pt;

  color: #D8DEE9;
}

image {
  color: #D8DEE9;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: #D8DEE9;
}
